<div class="portfolio">
    <h1>Nuestro Portafolio</h1>
    <div class="projects">
      <div class="project">
        <img src="/assets/project1.jpg" alt="Proyecto 1">
        <p>Imperdiet velit commodo luctus lacus gravida ad tempus etiam sociis, enim montes venenatis ullamcorper ridiculus mattis aliquet habitasse pharetra, turpis odio dictum mi cras eros mauris donec. Augue iaculis rutrum consequat placerat eget velit phasellus quam venenatis, blandit posuere metus torquent tincidunt lacus porttitor erat hendrerit eleifend, penatibus hac urna varius integer parturient molestie convallis.</p>
      </div>
      <div class="project">
        <img src="/assets/project1.jpg" alt="Proyecto 2">
        <p>Imperdiet velit commodo luctus lacus gravida ad tempus etiam sociis, enim montes venenatis ullamcorper ridiculus mattis aliquet habitasse pharetra, turpis odio dictum mi cras eros mauris donec. Augue iaculis rutrum consequat placerat eget velit phasellus quam venenatis, blandit posuere metus torquent tincidunt lacus porttitor erat hendrerit eleifend, penatibus hac urna varius integer parturient molestie convallis.</p>
      </div>
    </div>
  </div>
  
