<div class="about">
  <h1>Acerca de Nosotros</h1>
  <p>Somos una empresa dedicada a la moda con años de experiencia en el sector.</p>
  <div class="team">
    <div class="member">
      <img src="assets/member1.jpg" alt="Miembro 1">
      <h3>LORD CESAR ACUÑA PERALTA</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit senectus penatibus, vulputate cursus mus dis pretium cubilia ad tortor nascetur varius, etiam egestas diam id aptent ligula ridiculus ultricies. Duis ridiculus nunc ultrices senectus tellus integer habitasse, diam porta ut porttitor pretium.</p>
    </div>
    <div class="member">
      <img src="assets/member2.jpg" alt="Miembro 2">
      <h3>DINA BALEARTE</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit senectus penatibus, vulputate cursus mus dis pretium cubilia ad tortor nascetur varius, etiam egestas diam id aptent ligula ridiculus ultricies. Duis ridiculus nunc ultrices senectus tellus integer habitasse, diam porta ut porttitor pretium.</p>
    </div>
  </div>
</div>
