<div class="services">
    <h1>Nuestros Servicios</h1>
    <div class="service-list">
      <div class="service">
        <h3>Servicio de Consultoría de Moda, Tendencias y Marketing</h3>
        <img src="/assets/trend1.jpg" alt="Tendencia 1">
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit senectus penatibus, vulputate cursus mus dis pretium cubilia ad tortor nascetur varius, etiam egestas diam id aptent ligula ridiculus ultricies. Duis ridiculus nunc ultrices senectus tellus integer habitasse, diam porta ut porttitor pretium. Imperdiet velit commodo luctus lacus gravida ad tempus etiam sociis, enim montes venenatis ullamcorper ridiculus mattis aliquet habitasse pharetra, turpis odio dictum mi cras eros mauris donec. Augue iaculis rutrum consequat placerat eget velit phasellus quam venenatis, blandit posuere metus torquent tincidunt lacus porttitor erat hendrerit eleifend, penatibus hac urna varius integer parturient molestie convallis.
        </p>
      </div>
      <div class="service">
        <h3>Servicio de Tecnología en Moda</h3>
        <img src="/assets/trend1.jpg" alt="Tendencia 1">
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit senectus penatibus, vulputate cursus mus dis pretium cubilia ad tortor nascetur varius, etiam egestas diam id aptent ligula ridiculus ultricies. Duis ridiculus nunc ultrices senectus tellus integer habitasse, diam porta ut porttitor pretium. Imperdiet velit commodo luctus lacus gravida ad tempus etiam sociis, enim montes venenatis ullamcorper ridiculus mattis aliquet habitasse pharetra, turpis odio dictum mi cras eros mauris donec. Augue iaculis rutrum consequat placerat eget velit phasellus quam venenatis, blandit posuere metus torquent tincidunt lacus porttitor erat hendrerit eleifend, penatibus hac urna varius integer parturient molestie convallis.
        </p>
    </div>
  </div>
  
